{% extends 'layout.html' %}

{% block content %}
<h1> {{ title }}</h1>
<p>{{ description }}</p>
<form>
    <label>Name: </label>
    <input type="text">
    <input type="Submit">
</form>

<form method="POST">
    <p>{{ form.name.label }}{{ form.name }}</p>
    {% for errors in form.name.errors %}<div id="error_name">
    {{ errors }}</div>{% endfor %}
    <p>{{ form.email.label }}{{ form.email }}</p>
     {% for errors in form.email.errors %}<div id="error_email">
    {{ errors }}</div>{% endfor %}
    <p>{{ form.password.label }}{{ form.password }}</p>
    {% for errors in form.password.errors %}<div id="error_password">
    {{ errors }}</div>{% endfor %}
    <p>{{ form.confirmPassword.label }}{{ form.confirmPassword }}</p>
    {% for errors in form.confirmPassword.errors %}<div id="error_confirmPassword">
    {{ errors }}</div>{% endfor %}
    <p>{{ form.submit }}</p>
</form>
{% if success == 1 %}
<p style="color:green">You have Successfully Registered</p>
{% endif %}
{% endblock %}

